/* Sidebar Container */
.sidebar-container {
    background-color: #f3f4f6;
    width: 300px;
    height: 100%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Available Rooms */
h2 {
    font-size: 12px;
    margin-top: 40px !important;
    margin-bottom: 15px;
    width: 80%;
    text-align: center;
    padding: 10px 0;
    background-color: #1c2d3a;
    color: #ffffff;
    border-radius: 12px;
}

.list-group-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px !important;
    margin-bottom: 8px;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    width: 80%;
}

.list-group-item:hover {
    background-color: #f0f2f5;
}

.list-group-item.active {
    background-color: #3498db;
    color: #ffffff;
}

/* Members */
.member-item {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    width: 100%;
    background-color: #ffffff;
}

.member-item:hover {
    background-color: #f0f2f5;
}

.member-name {
    font-weight: 600;
    margin-right: 5px;
}

.member-status {
    display: flex;
    align-items: center;
    position: relative;
}

.member-status-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.online-status,
.offline-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.online-status {
    background-color: #28a745;
}

.offline-status {
    background-color: #dc3545;
}

/* Badge */
.badge {
    background-color: #3498db;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 50%;
}

/* Animation */
@keyframes slide-in {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sidebar-container {
    animation: slide-in 0.5s ease-in-out;
}
